version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:15
    container_name: warehouse-postgres
    environment:
      POSTGRES_DB: WareHouseDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: md5
      POSTGRES_INITDB_ARGS: --auth md5
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - warehouse-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis for caching
  redis:
    image: redis:7-alpine
    container_name: warehouse-redis
    ports:
      - "6379:6379"
    networks:
      - warehouse-network


  # PGAdmin for managing DB
  pgadmin:
    image: dpage/pgadmin4
    container_name: warehouse-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@warehouse.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - postgres
    networks:
      - warehouse-network

  # API Service
  api:
    build:
      context: .
      dockerfile: WareHouse.API/Dockerfile
    container_name: warehouse-service-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=WareHouseDb;Username=postgres;Password=password
      - Kafka__BootstrapServers=host.docker.internal:9092
      - ConnectionStrings__Redis=redis:6379
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - warehouse-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  warehouse-network:
    driver: bridge
