@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: rgb(241 245 249 / var(--tw-bg-opacity, 1));
  color: rgb(15 23 42 / var(--tw-text-opacity, 1));
  font-size: 1.125rem;
  line-height: 1.75rem;
}
